@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
/* line 6, ../sass/main.sass */


/* line 12, ../sass/main.sass */

/*********Main********* */
/* line 19, ../sass/main.sass */
.maain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85vh;
  background-image: url("https://picsum.photos/1920/1080?image=1067");
  background-size: cover;
  background-color: blue;
  background-blend-mode: multiply;
  -webkit-animation-name: color;
          animation-name: color;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0.8;
  color: #f1e9e9;
  padding: 50px 200px 0;
  text-align: center;
}

@-webkit-keyframes color {
  0% {
    background-color: blue;
  }
  25% {
    background-color: green;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: blue;
  }
}

@keyframes color {
  0% {
    background-color: blue;
  }
  25% {
    background-color: green;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: blue;
  }
}
/* line 51, ../sass/main.sass */
.maain h1 {
  font-size: 6rem;
  letter-spacing: 0px;
}

/* line 56, ../sass/main.sass */
.maain h4 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1em;
}

/* line 63, ../sass/main.sass */
.maain p {
  font-size: 1.2rem;
}



.about {
  background-image: url("");
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7rem 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}



/* line 314, ../sass/main.sass */
.testimony {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4rem;
  background-color: #3f27a7;
  color: #f1e9e9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2rem;
  font-size: 1.1rem;
  height: 427px;
}

/* line 325, ../sass/main.sass */
.testify h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 2rem;
}

/* line 332, ../sass/main.sass */
.test-text {
  margin-right: 2rem;
}

/* line 336, ../sass/main.sass */
.test-text p:first-of-type {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 2em;
}



