/*.item{
    text-align: center;
    width: auto;
}*/

.bs-example{
    margin: 10px;
}

.item {
height: 300px; 
 width: 100%;
}
/* This is your slider height */

/*.carousel-item {
    z-index: -2; 
    opacity: 0.2; 
    display: block; 
    transform: translateX(229px) translateY(100px) translateX(-420px) translateZ(0px);
}*/
.carousel {
width:90%;
margin:0 auto;
 } /* center your carousel if other than 100% */ 



#tp
{
    font-size : 50px;
    margin-bottom: 80px;
    
    
  
}