 .put
{
    border: 1px solid #eee;
    box-shadow:0 5px 5px #ccc;
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}


.card-header .yoyo
{
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;  
}